@import '../../styles/breakpoints';
@import '../../styles/colors';

.main_section_container {
    // border: 2px solid red;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    grid-column: 3/13;
    overflow-y: scroll;
    color: $tertiary;
}

@include large {
    .main_section_container {
        grid-column: 4/13;
    }
}

@include desktop {
    .main_section_container {
        grid-column: 5/13;
    }
}

@include tablet {
    .main_section_container {
        grid-column: 5/13;
    }
}

@include mobile {
    .main_section_container {
        grid-column: 1/13;
        border: 5px solid red;
        // background-color: red;
    }
}