@import '../../styles/breakpoints';

.main_container {
    // border: 2px solid red;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    overflow: hidden;
}

@include sm {
    .main_container {
        font-size: 0.8rem;
        // grid-template-columns: 1fr;
    }
}