@import '../../../../styles/breakpoints';
@import '../../../../styles/colors';

.topbar_main_container {
    width: 100%;
    padding: 0.6rem 0.5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex: 1;
    color: $tertiary;

    &>.topbar_searchicon_container {
        font-size: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.9rem;

        &>p:first-child {
            display: none;
        }
    }

    &>.topbar_search_field {
        width: 80%;
        padding: 1rem;
        background-color: $secondary;
        border-radius: 0.5rem;

        @include mobile {
            width: 60%;
        }
    }

    &>.topbar_icons_container {
        display: flex;
        gap: 1rem;
        font-size: 1.5rem;

        span {
            position: relative;
        }

        span:first-child::before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            width: 0.5rem;
            height: 0.5rem;
            background-color: $action_notify;
            border-radius: 50%;
        }
    }
}

@include xs {
    .topbar_main_container {
        &>.topbar_searchicon_container {
            font-size: 1rem;
        }

        &>.topbar_search_field {
            padding: 0.3rem;
        }

        &>.topbar_icons_container {
            font-size: 1rem;
        }
    }
}

@include sm {
    .topbar_main_container {
        &>.topbar_searchicon_container {
            font-size: 1.3rem;
        }

        &>.topbar_search_field {
            padding: 0.5rem;
        }

        &>.topbar_icons_container {
            font-size: 1.3rem;
        }
    }
}

@include mobile {
    .topbar_main_container {
        &>.topbar_searchicon_container {
            &>p:first-child {
                display: block;
            }
        }
    }
}