@import '../../styles/breakpoints';
@import '../../styles/colors';

.sidebar_container {
    background-color: $secondary;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: baseline;
    padding: 0.3rem;
    grid-column: 1/3;
    overflow: hidden;
    color: $tertiary;

    &.toggle {
        width: 70%;
        opacity: 1;
        z-index: 100;
        transform: translateX(0);
    }

    &>.sidebar_heading {
        width: 100%;
        text-align: center;
        font-size: 1.5rem;
        font-weight: 600;
        padding: 2rem 0;
        font-style: Poppins, sans-serif;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 0.8rem;

        @include xxlarge {
            font-size: 1.8rem;
        }

        &>div {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.5rem;

            &>span {
                font-style: Poppins, sans-serif;
                font-weight: 600;
                font-size: 1.5rem;

                @include xxlarge {
                    font-size: 1.8rem;
                }

                @include sm {
                    font-size: 1.2rem;
                }
            }
        }

        &>p {
            display: none;

            @include mobile {
                font-size: 1.4rem;
                font-weight: bold;
            }
        }

        @include mobile {
            font-size: 1.2rem;
        }
    }

    &>.sidebar_userinfo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.9rem;
        width: 100%;
        height: max-content;
        font-family: Poppins, sans-serif;
        font-weight: 500;
        // padding: 1rem 0;

        &>.sidebar_userinfo_imgcontainer {
            border: 3px solid $action;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;

            &>img {
                width: 5rem;
                aspect-ratio: 1/1;
                object-fit: cover;
            }

        }

        &>span:last-child {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0.4rem 1.5rem;
            border-radius: 1rem;
            background-color: $primary;

            &>span:first-child {
                color: rgb(185, 185, 9);
            }
        }
    }

    &>.sidebar_menu {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        width: 100%;
        height: max-content;
        gap: 1.5rem;
        font-family: Poppins, sans-serif;
        font-weight: 500;
        justify-content: center;
        padding: 4rem 0;
        padding-top: 1rem;

        &>li:nth-child(2)>span::before {
            content: '';
            position: absolute;
            top: 30%;
            right: 10%;
            width: 0.5rem;
            height: 0.5rem;
            background-color: $action_notify;
            border-radius: 50%;
        }

        &>li:nth-child(3)>span::before {
            content: '';
            position: absolute;
            top: 30%;
            right: 10%;
            width: 0.5rem;
            height: 0.5rem;
            background-color: $action_notify;
            border-radius: 50%;
        }

        &>li {
            display: flex;
            gap: 1rem;
            align-items: baseline;
            font-size: 1.2rem;
            cursor: pointer;
            position: relative;

            &:nth-child(n) {
                padding: 0 1.8rem;
            }
        }

        &>li:hover {
            color: gray;
            transition: color 0.2s ease-in-out;
        }

        @include xxlarge {
            &>li {
                font-size: 1.2rem;
            }
        }

        @include mobile {
            &>li {
                font-size: 1rem;
            }
        }
    }

    &>.sidebar_community_section_container {
        width: 90%;
        // min-width: 8rem;
        font-family: Poppins, sans-serif;
        line-height: 1.2rem;
        gap: 0.5rem;

        &>.sidebar_community_members {
            display: flex;
            padding: 0.5rem 0;
            justify-content: center;

            &>img {
                width: 2.5rem;
                height: 2.5rem;
                aspect-ratio: 1/1;
                object-fit: cover;
                border-radius: 50%;
                margin: 0 0.5rem;
                border: 2px solid white;

                @include mobile {
                    width: 2.3rem;
                    height: 2.3rem;
                    border: 1px solid white;
                }
            }

            &>img:nth-child(n+2) {
                margin-left: -1rem;
            }

            &>div:last-child {
                font-size: 3rem;
                margin-left: -1.5rem;

                @include mobile {
                    font-size: 2.5rem;
                }
            }
        }

        &>.sidebar_community_section_text {
            width: 100%;
            text-align: center;
        }
    }
}



@include large {
    .sidebar_container {
        grid-column: 1/4;

    }
}

@include desktop {
    .sidebar_container {
        grid-column: 1/5;
    }
}

@include tablet {
    .sidebar_container {
        grid-column: 1/5;
    }
}

@include mobile {
    .sidebar_container {
        position: fixed;
        top: 0;
        left: 0;
        opacity: 0.3;
        transform: translateX(-110%);
        transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;

        &>.sidebar_heading {
            &>p {
                display: block;
            }
        }
    }
}

@include sm {
    .sidebar_container {
        &>.toggle {
            width: 60%;
        }
    }
}